.authWrapper{
    background-image: url('../../assets/images/auth-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(320px, 1110px);
    align-content: center;
    justify-content: center;
}

.authInner{
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}

.authHeader{
    display: grid;
    grid-template-columns: 75px 100px;
    grid-template-rows: 50px;
    justify-content: space-between;
    align-items: center;
}

.authHeader__link {
    color: #959fbb;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

.authHeader__img {
    width: 75;
}

.authBody{
    padding: 80px 0px 100px;
    text-align: center;
}

.authBody__header{
    font-size: 30px;
    color: #434f74;
    margin-bottom: 23px;
    font-weight: 500;
}

.authBody__text{
    font-size: 14px;
    color: #959fbb;
    font-weight: 400;
}

.authForm{
    display: grid;
    grid-template-columns: minmax(320px, 360px);
    justify-content: center;
    margin-top: 50px;
}

.fieldContainer{
    position: relative;
    margin-bottom: 30px;
}

.fieldContainer__input {
    border: none;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    background: transparent;
    padding: 15px;
    border-left: 0px;
    color: #959fbb;
    font-weight: 400;
    font-size: 12px;
    box-sizing: border-box;
}

.fieldContainer__input:hover{
    border-bottom: 1px solid #434f74;
}

.fieldContainer__icon{
    position: absolute;
    top: 15px;
    right: 10px;
    color: #bdc3d3;
}

.fieldContainer__icon:hover{
    color: #434f74;
}

/*
** Need move button for global !!
**/

.btn{
    cursor: pointer;
    background: #fa2276;
    color: #fff;
    padding: 12px 32px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid transparent;
    font-weight: 400;
    transition: background-color .15s ease-in-out;
    text-align: center;
}
.btn:hover{
    background-color: #434f74;
}