.wrapper{
    display: grid;
    justify-content: center;
    height: 100%;
    align-items: center;

    .inner{
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: .25em solid #434f74;
        border-right-color: transparent;
        border-radius: 50%;
        animation: spinner .75s linear infinite
    }
    
}

@keyframes spinner{
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}
