.wrapper{
    padding: 50px 0;
    background: #434f74;
    overflow: hidden;
    max-height: 330px;
    position: relative;
}
.wrapper::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('../../../assets/images/user-background.png');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    opacity: .1;
}
.userImage{
    width: 120px;
    height: 120px;
    box-sizing: border-box;
}