.header{
    text-align: left;
    color:#434f74;
    font-size: 14px;
    margin-bottom: 18px;
}

.wrapper{
    display: flex;


    .radio[type="radio"] {
        display: none;

        & ~ span{
            display: block;
            width: 1rem;
            height: 1rem;
            background-color:#fff;
            border: 1px solid #e1e1e1;
            border-radius: 50%;
            box-sizing: border-box;
            margin-right: 8px;
        }

        &:checked ~ span {
            border: 5px solid #fa2276;
        }

    }
    
}


