.inner {
    padding: 0 75px;
    margin-bottom: 30px;
}

.modal{
    max-width: 450px;
    max-height: 165px;
    margin: auto;
    position: absolute;
    inset: 20px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    overflow: auto;
    border-radius: 4px;
    outline: currentcolor none medium;
    padding: 20px;

    h2{
        margin-bottom: 35px;
    }

}