.header{
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;

    &__btn {
        font-size: 14px;
        background: none;
        border: none;
        cursor: pointer;
        color: #959fbb;

        &:hover {
            color: #434f74;
        }
    }
}

.events{
    display: grid;
    grid-template-columns: repeat(4, 380px);
    gap: 25px 25px;
}