.postTop{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-column-gap: 15px;
    margin-bottom: 15px;
}
.postUserName{
    font-size: 16px;
    font-weight: 500;
    color: #434f74;
    margin-bottom: 15px;
}
.postTime{
    font-size: 12px;
    font-weight: 400;
    color: #bdc3d3;
}
.postText{
    font-size: 14px;
    line-height: 24px;
    color: #959fbb;
    font-weight: 400;
}