.formControl.error {

    input, textarea, select {
        box-shadow: 0 0 0 .2rem rgba(220,53,69,.5);
    }

    .errorMessage {
        font-size: 12px;
        color: rgba(112, 50, 56, 0.5);
        margin-top: 5px;
    }
}

.radioBlock{
    display: flex;
    margin-right: 10px;
    align-items: center;
    cursor: pointer;
}