.userWrapper{
    padding: 0 25px;
}

.usersHeader{
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    color: #434f74;
    font-size: 18px;
    text-align: center;
}
.usersHeaderHr{
    width: 30px;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid #e5e5e5;
    margin-top: 20px;
}
.followBtn{
    width: 100%;
    height: 40px;
    background: #fa2276;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
.followBtn:hover{
    background: #434f74;
}
.unffolowBtn{
    width: 100%;
    height: 40px;
    background: #434f74;
    color: #fff;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
}
.unffolowBtn:hover{
    background: #fa2276;
}
.userInner{
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 30px));
    justify-content: space-between;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    margin-bottom: 30px;
}
.userBlock{
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 20px 0 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}
.userBlock:hover{
    transition: all 0.5s ease;
    transform: translateY(-5px);
}
.moreUsersBtn{
    height: 40px;
    background: #fa2276;
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
