.wrapper{
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-bottom: 30px;
}
.inner{
    display: grid;
    grid-template-columns: 40px 1fr 90px;
    grid-template-rows: 40px;
    grid-column-gap: 15px;
}