.wrapper{
    display: grid;
    grid-template-columns: 76px 86px 76px;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
    grid-column-gap: 10px;
}
.wrapper .center {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.count{
    color: #434f74;
    font-size: 16px;
    font-weight: 500;
}
.text{
    color: #959fbb;
    font-size: 12px;
    font-weight: 400;
}