$white: #fff;
$pink: #fa2276;
$blue: #434f74;

@mixin fontSize($size) {
    font-size: $size;
}

.app-wrapper{
    display: grid;
    margin: 0 auto;

    grid-template-areas: 
    "h h"
    "n c";
    grid-template-rows: 70px 1fr;
    grid-template-columns: 225px 1fr;
    height: 100%;

    &.hide-menu {
        grid-template-columns: 100px 1fr;
        nav {
            width: 90px;

            span {
                display: none;
            }
        }
        
    }

    
}
.app-wrapper-content {
    grid-area: c;
    background-color: #f9f9f9;
}
.location-market{
    font-size: 14px;
    color: $pink;
    margin-right: 8px;
}

.height-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;

    &.flex-column{
        flex-direction: column;
    }

    &.align-items{
        align-items: center;
    }
}

.p-12 {
    padding: 12px !important;
}

.p-20 {
    padding: 20px;
}

.p-x-25{
    padding: 0 25px;
}

.p-0{
    padding: 0 !important;
}

.m-0{
    margin: 0 !important;
}

.m-top-0{
    margin-top: 0 !important;
}

.m-bot-0{
    margin-block-start: 0 !important;
}
.m-bot-20{
    margin-bottom: 20px;
}
.p-bot-10{
    padding-bottom: 10px;
}

.m-auto{
    margin: auto;
}

.user-small-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.input{
    padding: 10px 15px;
    background: transparent;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    height: 40px;
}

.bg-white {
    background: $white !important;
}

.color-grey {
    color: #959fbb;
}
.color-white{
    color: $white;
}
.color-blue {
    color: $blue;
}

.border{
    border: 1px solid #e5e5e5;
}

.border-bottom-none {
    border-bottom: 0;
}

.border-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.text-center{
    text-align: center;
}

.font-bold{
    font-weight: 900;
}
.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-18{
    font-size: 18px;
}

.line-height-16{
    line-height: 16px;
}
.line-height-24{
    line-height: 24px;
}

.btn{
    cursor: pointer;
    padding: 12px 32px;
    border-radius: 3px;
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    border: 1px solid transparent;
    transition: background-color .35s ease-in-out;
    font-weight: 400;
    text-align: center;

    &.btn-pink {
        background: $pink;
        color: $white;
    
        &.btn-pink::hover{
            background-color: $blue;
        }
    }

    &.btn-purple {
        background-color: $blue;
        color: $white;
    
        &::hover{
            background: $pink;
        }
    }
}

.hidden{
    display: none;
}
.max-width-100{
    max-width: 100px;
}
.max-width-400{
    max-width: 400px;
}
/* React-Tabs */
.react-tabs__tab{
    border: none;
    padding: 20px;
    font-size: 14px;
    color: #959fbb;
}
.react-tabs__tab--selected{
    border-bottom: 2px solid $pink;
    color: $blue;
}


/* Header */
.h2 {
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    color: $blue;
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;

    .h2-border{
        width: 30px;
        margin: 0 auto;
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid #e5e5e5;
        margin-top: 20px;
    }

}

.center-block {
    display: grid;
    align-items: center;
    padding: 0 25px;
}

.select-wrapper{
    position: relative;

    > select {
        position: relative;
        -moz-appearance: none;
        appearance: none;
        -webkit-appearance: none;
        padding-right: 0;
        cursor: pointer;
    }

    &::after{
        content: '\f107';
        font-family: 'Font Awesome 5 Free';
        font-weight: 700;
        position: absolute;
        right: 5px;
        top: 15px;
    }
}

.input-border-bottom{
    background: none;
    color: #959fbb;
    font-size: 14px;
    padding: 0 15px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
}

.textarea-style{
    height: 100px;
    border: none;
    background: $white;
}